<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Task Manager</h1>
    <p class="counter"> Total Tasks :{{ tasks|length }}</p>

    <form action="/add" method="POST">
        <input type="text" name="content" placeholder="Enter task" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {% for task in tasks %}
        <li>
            {% if task[2] == 1 %}
                <span class="completed">{{ task[1] }}</span>
            {% else %}
                <span>{{ task[1] }}</span>
                <a href="/complete/{{ task[0] }}">✔</a>
            {% endif %}
            <a href="/delete/{{ task[0] }}">❌</a>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
